body{
    height: 100vh;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
header{
    width: 400px;   
    height: 100px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 1s;

    color: white;
    margin-bottom: 20px;
    background-color: blueviolet;
}
header:hover{
    font-size: 20px;
    cursor: pointer;

    border-radius: 50%;
    background-color: red;
    border: 5px solid white;
}
section{
    display: flex;
}
div{
    color: white;
    font-size: 20px;
    font-weight: bold;
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: blue;

    transition: 1s;

    display: flex;
    align-items: center;
    justify-content: center;

}
div:hover{

    font-size: 40px;
    cursor: pointer;

    border-radius: 50%;
    background-color: red;
    border: 5px solid black

}