*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*** Color fontes variaveis */
:root{
    --color--brand-color: #9333ea;
    --color-brand-color-light: #a855f7;
    --color-brand-color-lighter: #c084fc;
    --color-text-color-primary: #f9fafb;
    --color-text-color-secondary: #e4e4e7;
    --color-close-button-color: #a1a1aa;
    --color-stroke-color: #3f3f46;
    --color-surface-color: #18181b;
    --color-background-color: #09090b;

    font-family: sans-serif;
    font-size: 62.5%;
}
/*** Body Page principal */
body{
    font-size: 1.6rem;
    background-color: var(--color-background-color);
    color: var(--color-text-color-primary);
}
/*** Divi principal */
#app{
    height: 100vh;
    max-width: 42.8rem;
    margin-left: auto;
    background-color: var(--color-surface-color);

    display: grid;
    grid-template-rows: max-content 1fr max-content;
}
/*** Divi header */
header{
    font-size: 2rem;
    color: var(--color-text-color-secondary);

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid var(--color--brand-color);
    padding: 2.4rem 3.2rem;
}
/*** Divi Main */
main{
    /** Resolvendo com Scroll */
    overflow-y: scroll; 
    /** Resolvendo com Scroll */
    padding: 3.2rem;

    display: grid;
    place-content: start;
    gap: 2.4rem;
}
::-webkit-scrollbar{
    width: 1rem;
}
::-webkit-scrollbar-thumb{
    background-color: var(--color--brand-color);
    border-radius: 1.rem;
}
::-webkit-scrollbar-track{
    background-color: var(--color-background-color);
}
main .item{
    display: flex;
    gap: 2.4rem;
}
main .item img{
    width: 10.4rem;
    height: 10.4rem;
    object-fit: cover;
    border-radius: .8rem;
}
main .item .title{
    color: var(--color-text-color-secondary);
}
main .item .price-qty{
    margin-top: 1.6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
main .item .price-qty .price{
    border: none;
}
main .item .price-qty .qty{
    display: flex;
    align-items: center;
}
main .item .price-qty .qty span,
main .item .price-qty .qty button{
    width: 4rem;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
}
main .item .price-qty .qty button{
    border-radius: .8rem;
    border: 1px solid var(--color--brand-color);
    background-color: transparent;
    color: var(--color--brand-color--light);
    font-size: 1.6rem;
}
main .item .price-qty .qty button.add{
    cursor: pointer;
}
main .item .price-qty .qty button.add:hover{
    color: var(--color-text-color-primary);
    background-color: var(--color-brand-color-light);
}
main .item .price-qty .qty button.minus{
    cursor: pointer;
}
main .item .price-qty .qty button.minus:hover{
    background-color: red;
}
/*** Divi Footer */
footer{
    padding: 2.2rem;
    border-top: 1px solid var(--color--brand-color);
}
footer .total{
    display: flex;
    justify-content: space-between;

    font-size: 2rem;
}
footer .coupon{
    margin-top: 1.6rem;
    color: var(--color-brand-color-light);

    gap: .8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
footer .coupon i{
    font-size: 2rem;
}
footer button{
    width: 100%;
    cursor: pointer;
    margin-top: 3.2rem;
    color: var(--color-text-color-primary);
    background-color: var(--color--brand-color);

    border: none;
    font-size: 2rem;
    padding-block: 2rem;
    border-radius: .8rem;
}
footer button:hover{
    background-color: var(--color-brand-color-light);
}